@import '../../../styles/variables/colors';

.chat-section {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  box-shadow: 0 5px 32px rgba($black, 0.1);
  overflow: hidden;
  border-radius: 30px;
  max-height: 685px;
  .sidebar {
    color: black;
    padding-top: 0;
    min-width: 30%;
    border-right: 1px solid $gray-d;
    .chats {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 75px;
      padding: 0 20px;
      border-bottom: 1px solid $gray-d;

      .title {
        color: $gray-4;
        font-weight: 500;
        font-size: 22px;
      }
      .lists {
        font-size: 17px;
      }
    }
  }
  .message-box {
    width: 100%;
  }
}

// Card

.card {
  border-bottom: 1px solid $gray-d;
  cursor: pointer;
  .member {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 27.3px 10px;
    .avatar {
      max-width: 100px;
      margin-right: 15px;
      img {
        width: 65px;
        height: 65px;
        border-radius: 50%;
      }
    }
    .member-info {
      .title {
        font-size: 20px;
        font-weight: 500;
      }
      .description {
        font-size: 13px;
      }
    }
  }
  .track {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    font-size: 12px;
    .live {
      .anticon {
        color: green;
        margin-right: 5px;
      }
    }
  }
}

.card.active{
  background-color: $theme-primary-light;
  opacity: .5;
  border-bottom: 2px solid red;
}