@import '../../styles/variables/colors';
.userInfo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  margin-right: 20px;
  height: 70px;
  .question {
    .anticon {
      font-size: 30px;
      color: $gray-8;
      cursor: pointer;
    }
  }
  .bell_icon {
    .anticon {
      font-size: 30px;
      cursor: pointer;
      color: $theme-primary;
    }
  }
  .right {
    display: flex;
    align-items: center;
    gap: 20px;
    .title1 {
      color: $gray-1;
      font-weight: 500;
      font-size: 18px;
      .anticon {
        font-size: 12px;
      }
    }
  }
}
