@import '../../styles/variables/colors';

// home-page-style
.header-primary {
  position: relative;
  background: $theme-light-color;
  padding: 0 0px 0 80px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    .nav-section {
      display: flex;
      align-items: center;
      justify-content: center;
    }
}

.ant-layout-header {
height: 70px;
}