@import '../../styles/variables/colors';

// home-page-style
.header-primary {
  position: relative;
  background: $theme-light-color;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  height: 70px;
  // .sidebar {
  //   height: 100vh;
  //   position: absolute;
  //   display: none;
  //   justify-content: center;
  //   background: red;
  //   top: 0;
  //   width: 15%;
  //   background: #f8f8f8;
  //   .avatar {
  //     position: absolute;
  //     top: 135px;
  //     .title2 {
  //       text-align: center;
  //     }
  //     .description {
  //       padding: 0px 55px;
  //       text-align: center;
  //       color: gray;
  //     }
  //   }
  //   .bottom {
  //     position: absolute;
  //     bottom: 85px;
  //   }
  // }
  .ant-row {
    height: 70px;
    .ant-col {
      height: 70px;
      padding: 0;
      img {
        height: 100%;
        padding: 10px 0;
      }
    }
    .ant-tabs-nav-list {
      .ant-tabs-tab {
        padding: 0;
        font-size: 21px;
        color: $gray-b;
        cursor: pointer;
        span {
          color: $gray-b;
        }
      }
    }
    .ant-tabs-nav-wrap {
      height: 70px;
      justify-content: center;
    }

    .ant-tabs-content-holder {
      .ant-tabs-content {
        z-index: 555;
        justify-content: center;
      }
    }
  }
}
.ant-tabs-tab-active {
  color: $theme-primary !important;
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.ant-tabs-ink-bar {
  background: $theme-primary !important;
  height: 3px;
  border-radius: 5px;
}

.ant-tabs-tab-btn {
  color: $theme-primary !important;
}
